.home{
    width: 100%;
    height: 500px;
    border: 2px solid black;
    #hero_area{
        background: url('./../../img/home-video.jpg') center no-repeat;
        background-size: cover;
        height: 250px;
        width: 100%;
    }
}